@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
 
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}
body{
    font-family: "Azeret Mono", monospace;
}

* {
    box-align: border-box;
    margin: o;
    padding: 0;
}

.Banner-container-1{
    width: 100%;
    height: 652px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    background-size: cover;
    background-size: contain;
    
}
.div-container-1 {
    font-family: Azeret Mono;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin-top: 50px;
 

}
.container-1-p {
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.container-1-pr{
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 10;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: black;
    
}
.bt-1{
    margin-top: 40px;
    position: static;
    width: 208px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(12, 12, 12);
    color: white;
    border: none;
    
}


.img-1{
    margin-top: 50px;
}


.section-2{
   margin:0 auto ;
   
   width: 946px;
   height: 1400px;
   border-radius: 16px;

   background: rgba(13, 19, 33, 0.02);
}

.info-1{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
   
   width: 852px;
   height: 150px;
   text-align: center;
}

.info-2{
    margin-top: 50px;
    
    width: 900px;
    height: 300px;
    display: flex;
    margin: auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 50px;
}

.info-2-a{
    width: 50%;
   
    height: 300px;
}

.info-2-a-tittle{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 22px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.info-2-a-paragraph{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 300px;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
}
.info-2-a-button{

    box-sizing: border-box;
    
    opacity: 0.7;
    font-family: Azeret Mono;
    width: 120px;
    height: 45px;
    background-color: white ;  
    color: black;  
}

.info-2-b {

    width: 50%;
   
    height: 300px;
   
}


.info-2-b-image{

position: absolute;
width: 200px;
height: 200px;
margin-left: 150px;
margin-top: 50px;


}

.info-3{
    
    
    width: 900px;
    height: 300px;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
}

.info-3-a{
    width: 35%;
    
    height: 300px;

}

.info-3-a-image{
    margin-top: 20px;

}

.info-3-b{

    width: 65%;
    
    height: 300px;
   
}

.info-3-b-h{

    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 700px;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.info-3-b-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.info-3-b-bt{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    width: 120px;
    height: 45px;
    background-color: white ;  
    color: black;  
}

.info-4{

    
    width: 900px;
    height: 330px;
    display: flex;
    margin: auto;
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.info-4-a{
    width: 50%;
   
    height: 330px;


}
.info-4-b{
    width: 50%;
   
    height: 330px;
}


.info-4-h{

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;

}

.info-4-p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;

}
.info-4-bt{

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    width: 120px;
    height: 45px;
    background-color: white ;  
    color: black;  
    
}

.info-4-img{
    position: absolute;
width: 200px;
height: 200px;
margin-left: 150px;
margin-top: 50px;
}

.video-container{
   
    width: 946px;
     height:700px;
    margin: auto;
    margin-top: 60px;
   
}

.video-tittle{
   
    width: 852px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.video-tittle h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;


}

.video-tittle p{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.video-container-1{
   
    width: 840px;
    height: 450px;
    margin: auto;
    margin-top: 30px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.i-frame{
    border-radius: 16px;
    width: 700px;
    height: 400px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: auto;
    margin-top: 20px;
}

.card-body{

    
    width: 1100px;
    height: 460px;
    margin: auto;
}

.card-title{

   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.card-style{

   
    margin: auto;
    margin-top: 30px;
    width: 1090px;
    height: 280px;

    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;

    
}

.card-1{
   
    width: 33.33% ;
    height: 278px ;
    margin-right: 5px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
    
}

.card-1-h {

    margin-left: 10px;
    margin-top: 20px;
}
.card-1-p{
    margin-left: 10px;A
    margin-top: 20px;
} 

.card-1-img {
    margin-left: 20px;
    margin-top: 20px;
}
.card-1-h4{
    margin-left: 10px;A
    margin-top: 20px;
    text-decoration-line: underline;
}

.card-2{
   
    width: 33.33% ;
    height: 278px ;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);

}

.card-2-img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
}
.card-2-h1{
    margin-left: 10px;
    margin-top: 10px;
}
.card-2-p{
    margin-left: 10px;
    margin-top: 10px;
}
.card-2-h4{
   
    margin-left: 10px;
   
    text-decoration-line: underline;
    
}


.card-3{
   
    width: 33.33% ;
    height: 278px ;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;

   background: rgba(255, 223, 0, 0.05);
  
}

.card-3-img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
}

.card-3-h{
    margin-left: 10px;
    
}
.card-3-p{
    margin-left: 10px;
   

}
.card-3-h4{
    margin-left: 10px;
    margin-bottom: 20px;

    text-decoration-line: underline;
}


.support-conteinar{
    width: 90%;
    height: 313px;
    margin: 0 auto;
    
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
    background-position: center;
    border-radius: 16px;

}

.support-contain{
    height: 185px;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-text{
    height: 104px;
    width: 80%;
    margin: 0 auto;

    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.support-text h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 500;    
    text-align: center; 
}
.support-text p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 0px;

}
    
    
    
    

.input{
    width: 548px;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.support-submit{
    width: 120px;
    height: 47px; 
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    border: none;
    font-size: 16px;
    font-weight: 600;
}



footer{
    height: 100px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03)
}
.footer-social-icon{
    display: flex;
    gap: 15px;
    
}

.footer-text p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}